.App {
  text-align: center;
}

table {

  border: 1px solid black;
}

thead {
  display: inline-flex;
  padding: 20px 20px;
}

th {
  
  text-align: left;
  padding: 8px;
  background-color: silver;
  
}


td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th:first-child, td:nth-child(1) {
  width: 30%;
}

th:nth-child(2), td:nth-child(2) {
  width: 40%;
}

th:last-child, td:last-child {
  width: 30%;

}
.random-btn {
  margin-top: 50px;
  margin-bottom: 30px;
}